<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Load and preload the critical CSS %}
    {{ 'tailwind.output.css' | asset_url | stylesheet_tag }}


    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}
  </body>
</html>
